@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900");
@media (max-width: 768px) {
  .logo-princ {
    width: 100px;
  }
  .img-sales-r {
    display: none;
  }
  .title-principal {
    font-size: 3em;
  }
  .subtitle-principal {
    font-size: 1em;
  }
  .titulo-princ {
    display: flex;
    flex-direction: column;
  }
  .icono-resp {
    display: flex;
    flex-direction: column;
    width: 1.5em;
    margin: 8px;
  }
  .pie {
    font-size: 1em;
    display: block;
  }
  .foto {
    display: none;
  }
  .art-text {
    font-size: 1.2em;
  }
}
nav {
  display: block;
  text-align: left;
  color: rgb(44, 44, 44);
  font-size: 1em;
}
nav ul {
  list-style: none;
}
nav ul li {
  margin-bottom: 5%;
}
nav ul li a {
  color: rgb(44, 44, 44);
  text-decoration: none;
  font-size: 2em;
  font-weight: 400;
  padding-bottom: 1%;
}
nav ul li a:hover {
  color: red;
}

* {
  box-sizing: border-box;
}

body {
  width: 99%;
}

header {
  background-color: rgb(254, 251, 251);
  margin-top: 1px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 3px;
  padding: 1px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

h1 {
  color: red;
  font-size: 3.5em;
  font-weight: 300;
  text-align: center;
}

h2,
h3,
h4 {
  color: rgb(44, 44, 44);
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}

p {
  color: rgba(44, 44, 44, 0.863);
  font-size: 1.5em;
  font-weight: 400;
  text-align: justify;
}

label {
  color: rgba(44, 44, 44, 0.863);
}

button {
  color: rgb(254, 251, 251);
  background-color: rgba(44, 44, 44, 0.863);
  width: 70px;
  height: 30px;
  border-radius: 10px;
  margin-right: 5%;
}

footer {
  background-color: rgb(1, 49, 14);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 3px;
  margin-right: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
footer p {
  color: rgb(254, 251, 251);
  font-size: 1.5em;
  display: block;
}
footer a img {
  width: 2em;
}

/*clases  */
.logo-principal {
  width: 80%;
  height: auto;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.size-sm {
  font-size: 1.5em;
  text-align: center;
  margin-top: 5px;
}

.bg-pattern {
  background-image: url(../css/assets/img/bg3.jpg);
}

.iconos {
  width: 2em;
}

.dec-none {
  text-decoration: none;
}

.tamaño-img {
  margin-top: 1%;
  width: 90%;
  height: 250px;
  object-fit: cover;
}

.img-sales {
  margin-top: 1%;
  margin-left: 2px;
  margin-right: 2px;
  width: 250px;
  object-fit: cover;
}

.margin-top {
  margin-top: 10px;
}

.articulo {
  color: red;
  padding: 2%;
  margin-top: 1%;
}

.fill-rgba {
  fill: rgba(44, 44, 44, 0.863);
}

.fill-white {
  fill: rgb(254, 251, 251);
}

.anuncio {
  padding: 50px;
}

.formulario {
  width: 100%;
  color: rgb(44, 44, 44);
  font-size: 1.5em;
  margin: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-sales {
  background-color: rgb(1, 49, 14);
  color: rgb(254, 251, 251) !important;
  font-size: 2em;
  font-weight: 400;
  width: 100%;
  border-radius: 10%;
  margin-top: 2%;
}

.leerMas {
  color: rgb(1, 49, 14);
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 500;
}
.leerMas:hover {
  color: red;
}

/* identificadores */
.registro {
  color: rgb(1, 49, 14);
  font-size: 3.5em;
  font-weight: 400;
  text-align: center;
  margin: 5px;
}

#blog {
  font-size: 3em;
  font-stretch: expanded;
  margin-top: 5px;
}

#subtitulo {
  font-style: italic;
}

#search {
  width: 50%;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(254, 251, 251);
  border-color: rgb(1, 49, 14);
  margin-top: 1%;
}

#anuncio {
  color: rgb(254, 251, 251);
  background-color: rgb(1, 49, 14);
  font-size: 1.5em;
  font-weight: 400;
  text-align: center;
}

#img-portada {
  width: 100%;
  height: auto;
}

/* FLEX */
.align-center {
  align-self: center;
}

.sales {
  display: flex;
  justify-content: space-around;
}

/*GRID */
#galeria {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 70% 30%;
  grid-template-areas: "aside-1 main aside-2" "ofertas ofertas ofertas";
  gap: 10px;
}

.aside-1 {
  grid-area: aside-1;
}

.main {
  grid-area: main;
}

.ofertas {
  grid-area: ofertas;
}

.aside-2 {
  grid-area: aside-2;
  margin-right: 20px;
}

/*breakpoints  */
@media (max-width: 768px) {
  .img-sales-r {
    display: none;
  }
  .title-principal {
    font-size: 3em;
  }
  .subtitle-principal {
    font-size: 1em;
  }
  .titulo-princ {
    display: flex;
    flex-direction: column;
  }
  .icono-resp {
    display: flex;
    flex-direction: column;
    width: 1.5em;
    margin: 8px;
  }
  .foto {
    display: none;
  }
  .art-text {
    font-size: 1.2em;
  }
}

/*# sourceMappingURL=main.css.map */
