

    nav{
        display: $block;
        text-align: $left;
        color: $mainC;
        font-size: $f1;
  
    ul{
        display: $block;
        list-style: $no;
        li{
                 margin-bottom: $m5;
             a{
                display: $block;
                color: $mainC;
                text-decoration: $no;
                font-size: $textLg;
                font-weight: $textBold;
                padding-bottom: $m1;
                  &:hover{
                    color:$redC
                }
           
            }
        }
    }
} 


