

    nav{
        width: $width100;
        text-align: $textCenter;
        margin-top: $margin_2;
        margin-bottom: $margin_2;
        padding: $margin_1;
        margin-left: $margin_0; 
    ul{
        display: block;
        list-style: $no;
        li{
                 margin-bottom: $margin_5;
             a{
                display: block;
                color: $mainColor;
                text-decoration: $no;
                font-size: $textLg;
                font-weight: $textBold;
                padding-bottom: $margin_1;
                  &:hover{
                    color:$secondaryColor
                }
           
            }
        }
    }
} 


