// variables globales
$mainColor: rgb(44, 44, 44) ;
$secondaryColor: red;
$wtColor: white;

//fonts
$mainFont: 'Roboto', 'sans-serif';
$textXsm: 1em;
$textSm: 1.2em;
$textMd: 1.5em;
$textLg: 2em;
$textXlg: 3em;
$textXxlg: 3.5em;
$textXxxlg: 4em;
$textBold:400;
$textLight:300;

//width
$widthIcono: 2em;
$width100: 100%;

//aligne
$textCenter: center;
$textLeft: left;
$textRight: right;
$textJust: justify;

//margin
$margin_0: 0%;
$margin_1: 1%;
$margin_2: 2%;
$margin_5: 5%;
$margin_10: 10%;
$margin_25: 25%;
$margin_50: 50%;
$margin_100: 100%;

//none
$no: none

 
