//fonts
$mainFont: 'Roboto', 'sans-serif';
$textXsm: 1em;
$textSm: 1.2em;
$textMd: 1.5em;
$textLg: 2em;
$textXlg: 3em;
$textXxlg: 3.5em;
$textXxxlg: 4em;
$textXbold: 500;
$textBold:400;
$textLight:300;
$expanded: expanded;
$italic: italic;

// background color
$bg-patt: url(../css/assets/img/bg3.jpg);

//aligne
$center: center;
$left: left;
$right: right;
$just: justify;
$end: flex-end;
$col: column;
$spcAround: space-around;

//height
$height30px: 30px;
$height250px: 250px;
$auto: auto;

//none
$no: none;

//display
$flex: flex;
$block: block;
$inlineBlock: inline-block;
$spaceBetween: space-between;
$grid: grid;

// border
$borderR10: 10%;
$borderRpx10px: 10px;
$borderBx:border-box;
//Fonts

$f1: 1em;
$f2: 1.2em;
$f1_5: 1.5em;
$f2e: 2em;
$f3e: 3em;
$f3_5e: 3.5em;
$f4: 4em;
$fB:400;
$fL:300;
$exp: expanded;
$it: italic;

//color
$mainC: rgb(44, 44, 44) ;
$transC: rgb(44, 44, 44, 0.863);
$redC: red;
$wtC: rgb(254,251,251);
$greenC: rgb(1,49,14);

//width
$Icono: 2em;
$w100: 100%;
$w80: 80%;
$w99: 99%;
$w90: 90%;
$w50: 50%;
$w70: 70px;
$w2em: 2em;
$w200px: 200px;
$w250px: 250px;
$cover: cover;

//margin y padding
$m0: 0%;
$m1: 1%;
$m2: 2%;
$m5: 5%;
$m10: 10%;
$m25: 25%;
$m50: 50%;
$m100: 100%;
$mPx1:1px;
$mPx2: 2px;
$mPx3: 3px;
$mPx5: 5px;
$mPx8: 8px;
$mPx10: 10px;
$mPx20: 20px;
$m50px: 50px;
$pdPx105: 105px;
$mAuto: auto;



