//fonts
$mainFont: 'Roboto', 'sans-serif';
$textXsm: 1em;
$textSm: 1.2em;
$textMd: 1.5em;
$textLg: 2em;
$textXlg: 3em;
$textXxlg: 3.5em;
$textXxxlg: 4em;
$textBold:400;
$textLight:300;
$expanded: expanded;
$italic: italic;

// background color
$bg-patt: url(../css/assets/img/bg3.jpg);

//aligne
$Center: center;
$Left: left;
$Right: right;
$Just: justify;
$end: flex-end;
$col: column;
$spcAround: space-around;

//height
$height30px: 30px;
$height250px: 250px;

//none
$no: none;

//display
$flex: flex;
$block: block;
$inlineBlock: inline-block;
$spaceBetween: space-between;
$grid: grid;

// border
$borderR10: 10%;
$borderRpx10px: 10px;


