@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,500;0,700;0,900;1,100;1,300;1,500;1,700;1,900");
@import "_vars";
@import "_mixins";
@import "_commons";
@import "_maps";
@import "_grid";
@import "responsive";
@import "_nav";

* {
   box-sizing: $borderBx;
}

body {
   width: $w99;
}

header {
   background-color: $wtC;
   margin-top: $mPx1;
   margin-bottom: $mPx10;
   margin-right: $mPx5;
   margin-left: $mPx3;
   padding: $mPx1;
   display: $flex;
   justify-content: $spaceBetween;
   align-items: $end;
}

h1 {
   @include h1(red, 3.5em, 300, center);
}

h2,
h3,
h4 {
   color: $mainC;
   font-size: $textLg;
   font-weight: $textBold;
   text-align: $center;
}

p {
   color: $transC;
   font-size: $textMd;
   font-weight: $textBold;
   text-align: $just;
}
label {
   color: $transC;
}

button {
   color: $wtC;
   background-color: $transC;
   width: $w70;
   height: $height30px;
   border-radius: $borderRpx10px;
   margin-right: $m5;
}

footer {
   background-color: $greenC;
   margin-top: $mPx10;
   margin-bottom: $mPx10;
   margin-left: $mPx3;
   margin-right: $mPx5;
   padding: $mPx10;
   display: $flex;
   justify-content: $spaceBetween;
   text-align: $center;

   p {
      color: $wtC;
      font-size: $f1_5;
      display: $block;
   }

   a {
      img {
         width: $icono;
      }
   }
}

/*clases  */

.logo-principal {
   width: $w80;
   height: $auto;
}

.text-right {
   text-align: $right;
}

.text-center {
   text-align: $center;
}

.text-left {
   text-align: $left;
}

.size-sm {
   @include pago(1.5em, center, 5px);
}

.bg-pattern {
   background-image: url(../css/assets/img/bg3.jpg);
}

.iconos {
   width: $f2e;
}

.dec-none {
   text-decoration: $no;
}

.tamaño-img {
   margin-top: $m1;
   width: $w90;
   height: $height250px;
   object-fit: $cover;
}

.img-sales {
   margin-top: $m1;
   margin-left: $mPx2;
   margin-right: $mPx2;
   width: $w250px;
   object-fit: $cover;
}

.margin-top {
   margin-top: $mPx10;
}

.articulo {
   color: $redC;
   padding: $m2;
   margin-top: $m1;
}

.fill-rgba {
   fill: $transC;
}

.fill-white {
   fill: $wtC;
}

.anuncio {
   padding: $m50px;
}
.formulario {
   width: $w100;
   color: $mainC;
   font-size: $f1_5;
   margin: $mPx5;
   text-align: $center;
   display: $flex;
   flex-direction: $col;
   align-items: $center;
}
.title-sales {
   background-color: $greenC;
   color: $wtC !important;
   font-size: $f2e;
   font-weight: $fB;
   width: $w100;
   border-radius: $borderR10;
   margin-top: $m2;
}
.leerMas {
   color: $greenC;
   text-decoration: $no;
   font-size: $f1_5;
   font-weight: $textXbold;
   & :hover{
      color: $redC
   }
}

/* identificadores */
.registro {
   color: $greenC;
   font-size: $f3_5e;
   font-weight: $textBold;
   text-align: $center;
   margin: $mPx5;
}
#blog {
   font-size: $f3e;
   font-stretch: $expanded;
   margin-top: $mPx5;
}

#subtitulo {
   font-style: $italic;
}

#search {
   width: $w50;
   height: $height30px;
   border-radius: $borderRpx10px;
   background-color: $wtC;
   border-color: $greenC;
   margin-top: $m1;
}

#anuncio {
   color: $wtC;
   background-color: $greenC;
   font-size: $f1_5;
   font-weight: $textBold;
   text-align: $center;
}

#img-portada {
   width: $w100;
   height: $auto;
}

/* FLEX */
.align-center {
   align-self: $center;
}

.sales {
   display: $flex;
   justify-content: $spcAround;
}

/*GRID */
#galeria {
   display: $grid;
   grid-template-columns: 25% 50% 25%;
   grid-template-rows: 70% 30%;
   grid-template-areas:
      "aside-1 main aside-2"
      "ofertas ofertas ofertas";
   gap: $mPx10;
}

.aside-1 {
   grid-area: aside-1;
}

.main {
   grid-area: main;
}

.ofertas {
   grid-area: ofertas;
}

.aside-2 {
   grid-area: aside-2;
   margin-right: $mPx20;
}

/*breakpoints  */

@media (max-width: 768px) {
   .img-sales-r {
      display: $no;
   }

   .title-principal {
      font-size: $textXlg;
   }

   .subtitle-principal {
      font-size: $textXsm;
   }

   .titulo-princ {
      display: $flex;
      flex-direction: $col;
   }

   .icono-resp {
      display: $flex;
      flex-direction: $col;
      width: $f1_5;
      margin: $mPx8;
   }

   .foto {
      display: $no;
   }

   .art-text {
      font-size: $textSm;
   }
}