@media (max-width: 768px) {
 .logo-princ {
  width: 100px;
 }
 .img-sales-r {
  display: none;
 }
 .title-principal {
  font-size: 3em;
 }
 .subtitle-principal {
  font-size: 1em;
 }
 .titulo-princ {
  display: flex;
  flex-direction: column;
 }
 .icono-resp {
  display: flex;
  flex-direction: column;
  width: 1.5em;
  margin: 8px;
 }
 .pie {
  font-size: 1em;
  display: block;
 }
.foto-sales {
    display: block;
    width: $w90;
} 
}

       